In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
file = "./raw_data.csv"
pd_file = pd.read_csv(file)

/Users/richardphilipose/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (78) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
pd_file.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [13]:
pd_file.count()

ID             17125
Name           17125
Age            17125
OVA            17125
Nationality    17125
               ...
CB             17125
RCB            17125
RB             17125
GK             17125
Gender         17125
Length: 107, dtype: int64

In [14]:
df = pd_file.dropna(how='any')

In [16]:
max_df = df["OVA"].max()

max_df

In [17]:
max_df

83

In [43]:
results_df = df.loc[:, ["ID", "Name", "OVA"]]

In [44]:
results_df

           ID          Name  OVA
230     50598       D. Bent   70
486    140038  J. Rodríguez   67
550    143809      M. Demir   70
702    156358      M. Muñoz   71
748    157804     S. Carson   70
...       ...           ...  ...
16938  258627    O. Edwards   59
17044  258883       B. Webb   53
17057  258908  J. van Hecke   67
17071  258938     L. Borges   60
17120  259088    A. Medioub   64

[895 rows x 3 columns]

In [45]:
results_df["OVA"].dtype

dtype('int64')

In [53]:
clean_data = df[results_df['OVA'] > 70]

In [47]:
engine = create_engine('sqlite:///save_pandas.db', echo=True)
sqlite_connection = engine.connect()

2021-01-21 14:05:10,890 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-21 14:05:10,892 INFO sqlalchemy.engine.base.Engine ()
2021-01-21 14:05:10,894 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-21 14:05:10,895 INFO sqlalchemy.engine.base.Engine ()

In [55]:
sqlite_table = "fifa_dataset"
clean_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-01-21 14:08:34,171 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("fifa_dataset")
2021-01-21 14:08:34,173 INFO sqlalchemy.engine.base.Engine ()
2021-01-21 14:08:34,175 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("fifa_dataset")
2021-01-21 14:08:34,177 INFO sqlalchemy.engine.base.Engine ()
2021-01-21 14:08:34,180 INFO sqlalchemy.engine.base.Engine
CREATE TABLE fifa_dataset (
	"index" BIGINT,
	"ID" BIGINT,
	"Name" TEXT,
	"OVA" BIGINT
)


2021-01-21 14:08:34,181 INFO sqlalchemy.engine.base.Engine ()
2021-01-21 14:08:34,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-21 14:08:34,186 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_fifa_dataset_index ON fifa_dataset ("index")
2021-01-21 14:08:34,187 INFO sqlalchemy.engine.base.Engine ()
2021-01-21 14:08:34,189 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-21 14:08:34,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-21 14:08:34,197 INFO sqlalchemy.engine.base.Engine INSERT INTO fifa_dataset ("index", "ID", "Name", "OVA") VALUES (?, ?, ?, ?)
2021-01-21 14:08:34,198 INFO sqlalchemy.engine.base.Engine ((702, 156358, 'M. Muñoz', 71), (1047, 168444, 'Ari', 77), (1070, 169078, 'L. Freeman', 72), (1196, 172013, 'De la Bella', 72), (1225, 172610, 'Castán', 76), (1248, 172937, 'G. Murray', 74), (1267, 173221, 'A. Candreva', 78), (1294, 173731, 'G. Bale', 83)  ... displaying 10 of 212 total bound parameter sets ...  (15673, 254544, 'Reinier', 71), (15772, 254824, 'Pedro Mendes', 71))
2021-01-21 14:08:34,202 INFO sqlalchemy.engine.base.Engine COMMIT

In [56]:
sqlite_connection.close()